body {
  font-family: var(--font-family--general);
  font-style: normal;
  font-weight: var(--font-weight__regular);
  font-size: var(--font-size__s);
  line-height: var(--line-height__s);

  letter-spacing: normal;
  text-transform: none;
  background-color: var(--color__black);
  background-image: url(../img/starry-sky.png);
  color: var(--primary-text-color);
}

::-webkit-scrollbar {
  display: none;
}
