:root {
  --font-family--general: "Wix Madefor Display", sans-serif;
  --font-weight__light: 400;
  --font-weight__regular: 500;
  --font-weight__medium: 600;
  --font-weight__bold: 700;
  /* COLORS */
  --color__black: #090909;
  --color__purple--dark: #12131e;
  --color__purple--light: #1f1f2b;

  --color__dark--light: #151621;
  --color__gray--dark: #101017;

  --primary-text-color: #ffffff;
  --secondary-text-color: #87878b;
  --primary-accent-color: #5d5fe9;
  --secondary-accent-color: rgba(163, 165, 255, 0.5);
  /*STYLING*/
  --transition-duration: 300ms;
  --transition-timing-function: cubic-bezier(0.89, 0.91, 0, 0.65);
  --transition-effect: var(--transition-duration)
    var(--transition-timing-function);

  --indent__min: 4px;
  --indent__s: 8px;
  --indent__m: 12px;
  --indent__l: 16px;
  --indent__xl: 20px;
  --indent__xxl: 24px;

  --font-size__s: 14px;
  --font-size__m: 16px;
  --font-size__l: 28px;
  /* --font-size__xl: 24px;
  --font-size__xxl: 32px; */

  --line-height__s: calc(20 / var(--font-size__s));
  --line-height__m: calc(20 / var(--font-size__m));
  --line-height__l: calc(130% / var(--font-size__l));
  /* --line-height__xl: calc(28 / var(--font-size__xl));
  --line-height__xxl: calc(40 / var(--font-size__xxl)); */
}
